<h1>Edit Details</h1>

<% if @current_user %>
  <% if @current_user.admin %>
    <%= link_to "View other users", users_path %><br /><br />
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :value => @user.name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= @user.email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
<%= button_to "Delete Profile", user_path(@user.id), :method => :delete, data: {confirm: "You sure?"} %>
