<h1>Tags#edit</h1>

<%= link_to "View other tags", tags_path %><br /><br />

<%= form_for @tag do |form| %>
  <%= form.text_field :name %>
  <p class="button"><%= form.submit %></p>
  <%= link_to "Delete Tag", tag_path(@tag.id), 
    :method => :delete %>
<% end %>