<h1>Play#index</h1>

<h3>Score: <%= @current_user.game.score %></h3>
<% if @message %>
  <%= @message %>
<% end %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<% if @photos %>
  <% count = 0 %>
  <% @photos.each do |photo| %>
    <% if count > 3 %>
      <% break %>
    <% end %>
    <%= image_tag photo.image.url(:med) %>
    <% count += 1 %>
  <% end %>
<% end %>
<%= form_tag do%>
  <%= hidden_field_tag :answer, @answer %>
  <%= hidden_field_tag :salt, @salt %>
  <%= text_field_tag :user_answer %>
  <%= submit_tag("Check it!") %>
<% end %>